<!DOCTYPE html>
<html>
    <head>
        <title>VIDEO SUBTITILES SERVICE</title>
    </head>
    <body>
        <h2>VIDEO SUBTITILES SERVICE</h2>
        <form action="{{ url_for('index') }}" method = "POST" enctype="multipart/form-data">
            <div>
                <label for="vid_inp_file">Choose file (mp4)</label>
                <input type="file" id="vid_inp_file" name="vid_inp_file" accept=".mp4">
            </div>

            <div>
               <input id = "sub" type="submit" value="submit" />

            </div>
        </form>

        <div id="progress"></div>

        {% if Location %}
            <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script>
                $('#sub').prop('disabled', true);
                function check_job_status(status_url) {
                    $.getJSON(status_url, function(data) {
                        $("#progress").text('Status: ' + data['status']);
                        if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                            if ('result' in data) {
                                //<a href="/return-files/" download>download result</a>
                                $('<a>',{
                                    text: 'download result',
                                    title: 'Result',
                                    href: '/return-files/'+ data['result'],
                                }).appendTo('body');
                            }
                        } else {
                            // rerun in 2 seconds
                            setTimeout(function() {
                                check_job_status(status_url);
                            }, 5000);
                        }
                    });
                }

                var loc = '{{ Location }}';
                (function(){
                  check_job_status(loc);
                })()

            </script>

        {% endif %}

    </body>
</html>